DEBUG={{ debug }}
SECRET_KEY={{ secret_key }}
FRONTEND_URL={{ frontend_url }}
POSTGRES_DB={{ postgres_db }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_HOST={{ postgres_host if env_type == 'staging' else 'db' }}
POSTGRES_PORT=5432
ALLOWED_HOSTS={{ allowed_hosts }}
CSRF_TRUSTED_ORIGINS={{ csrf_trusted_origins }}
CELERY_BROKER_URL={{ celery_broker_url }}
CELERY_RESULT_BACKEND={{ celery_result_backend }}
EMAIL_HOST={{ email_host }}
EMAIL_PORT={{ email_port }}
EMAIL_HOST_USER={{ email_host_user }}
EMAIL_HOST_PASSWORD={{ email_host_password }}
USE_SES={{ use_ses | default('false') }}
AWS_SES_REGION_NAME={{ aws_ses_region_name | default('us-east-1') }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id | default('') }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key | default('') }}
DEFAULT_FROM_EMAIL={{ default_from_email | default('') }}
USE_S3={{ use_s3 | default('false') }}
AWS_STORAGE_BUCKET_NAME={{ aws_storage_bucket_name | default('') }}
AWS_S3_REGION_NAME={{ aws_s3_region_name | default('us-east-1') }}
ADMIN_EMAIL={{ admin_email }}
ADMIN_PASSWORD={{ admin_password }}
ADMIN_USERNAME={{ admin_username }}